<div class="clients-index-title">
  <h2>Clients</h2>
</div>
<div class="client-list-container">
  <div class="list-group">
    <% @clients.each do |client| %>
    <div class="list-group-item">
      <div class="row">
        <div class="col">
          <%= link_to client.company_name, [client.user, client] %>
        </div>
        <div class="col">
          <small><%= client.value %></small>
        </div>
        <div class="col">
          <% if client.contacts.where(decision_maker: true).blank?  %>
          <small>n/a</small>
          <% else %>
          <small><%= client.contacts.where(decision_maker: true).first.name %></small>
          <br>
          <small><%= client.contacts.where(decision_maker: true).first.role %></small>
          <% end %>
        </div>
        <div class="col">
          <small><%= client.comments.last.created_at.strftime("%b. %d %Y") %></small>
        </div>
        <div class="col text-truncate">
          <small><%= client.comments.last.body %></small>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
