<!DOCTYPE html>
<html>
  <head>
    <title>Railsforce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between" style="background-color: #19647E">
      <a class="navbar-brand" href="/">Railsforce</a>
      <ul class="nav">
        <% if @current_user = User.find_by(id: session[:user_id]) %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/users/new" style="color: #EEE5E5">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" style="color: #EEE5E5">Log In</a>
        </li>
        <% end %>
      </ul>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
